/*HEADER*/

.navbar {
  height: 70px;
}


#header-nav {
  background-color: #DEB887;
  border-radius: 0;
  width: 100%;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 {
  color: #557c3e;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-nav {
    margin: 5.5px -15px;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #557c3e;
}

.navbar-header button.navbar-toggle:hover {
  background-color: #D2B48C;
}

#collapsable-nav {
  margin-top: 0px;
  border: 0px black;
}

#nav-list {
  border: 1px solid #557c3e;
  border-top: 0px;
}

#nav-list a {
  border-top: 1px solid #557c3e;
  background-color: #F5DEB3;
  text-align: center;
  height: 2em;
  padding: 5px;
}

#nav-list a:hover {
  background-color: #D2B48C;
}

/* MAIN */

.menu-box {
  height: 1000px;
  border: 1px solid #557c3e;
  color: #557c3e;
  background-color: #DEB887;
}

.menu-box p {
  text-align: justify;
}

.container {
  width: 75%;
}

h2 {
  margin: 20px 0px 20px;
  font-size: 2.5em;
  color: #557c3e;
}

h3 {
  font-size: 1.5em;
}


/* MEDIA QUERIES */


@media (min-width: 768px) {
  .container{
    width: 95%;
  }
}









